<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment</title>
  </head>
  <body>

Loading...
<!-- For production payment url will be changed. Please Ask Payment gateway for testign and production url-->
 <form id="nonseamless" method="post" name="redirect" action="https://secure.ccavenue.com/transaction.do?command=initiateTransaction"/>

 <input type="hidden" id="encRequest" name="encRequest" value="<%= encryptedData %>">

<input type="hidden" name="access_code" id="access_code" value="<%= access_code %>">
<script language="javascript">

    setTimeout(() => {
        document.redirect.submit();
    }, 500);
  

</script>
</form>

  </body>
</html>