# Redirect non-www to www
RewriteEngine On
RewriteCond %{HTTP_HOST} ^valentinesaga\.com$ [NC]
RewriteRule ^(.*)$ http://www.valentinesaga.com/$1 [R=301,L]

# Redirect www to non-www
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.valentinesaga\.com$ [NC]
RewriteRule ^(.*)$ http://valentinesaga.com/$1 [R=301,L]