.card {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
    transition: 0.5s ease-in-out;
    /* min-height: 450px; */
    text-decoration: none;
    /* border: 1px solid red; */
  }
  .card:hover {
    transform: scale(1.1);
  }
  .card-header {
    
    position: relative;
  }
  
  .card-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: 0.5s;
  }
  .card-image:hover{
    transform: scale(1);
  }
  .heart {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #ccc;
    cursor: pointer;
  }
  
  .heart.liked {
    background-color: #ff0000;
    border-color: #ff0000;
  }
  
  .card-body {
    padding: 16px;
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 8px;
  }
  
  .card-description {
    color: #666;
    margin-bottom: 8px;
    font-size: medium;
    font-weight: 600;
    text-align: left;
  }
  
  .card-footer {
    display: flex;
    align-items: center;
   border: 1px solid red;
  }
  
  .card-price {
    flex-grow: 1;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .card-ratings {
    margin-right: 8px;
    font-size: 1.2rem;
  }
  
  .share-button {
    /* padding: 8px 16px; */
    font-size: 15px;
    color: #fff;
    /* background-color: #333; */
    border: none;
    border-radius: 4px;
    width: 100px;
    cursor: pointer;
  }
  
  .share-button:hover {
  color: red;
  }

  
  
  