*{
    margin: 0px;
    padding: 0px;
}


.carousel-container button{
    max-width: 10px;
    background: white;
    color: black;
}
.carousel-container button::before{
    color: gray;
    
}
.carousel-container button:hover{
    background: white;
}
#bookeh-card{
    height: auto;
    width: 90%;
    /* min-height: 500px; */
    margin-top: 20px;
    object-fit: cover;
    /* margin: auto; */
    margin-left: 35px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}
.card-image:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transition: 0.5s;
    transform: scale(1.1);
    cursor: pointer;
}

#bookeh-card>div{
    background: white;
    font-family: sans-serif;
    /* min-height: 150px; */
    padding: 4px 10px;
    text-align: left;
    padding: 10px;
    border-radius:5px;
    /* line-height: 25px; */
}

@media all and (min-width: 768px) and (max-width: 1224px) {
    #bookeh-card{
        width: 90%;
        height: auto;
        font-size: 15px;
    }
    
    
}
/* style={{marginBottom:"20px",minHeight:"100%",width:"23%",cursor:"pointer"}} */
@media all and (min-width: 0px) and (max-width: 768px) {
    
    #bookeh-card{
        /* padding: 10px; */
        width: 95%;
        margin: auto;
        height: auto;
        font-size: 12px;
    
    }
   
    /* #bookeh-card>div:nth-child(1){
        padding: 10px;
    } */
    .card-image{
     width: 100%;
     height: 100%;
    }


    

}