*{
    margin: 0px;
    padding: 0px;
}

.hamburger{
    height: 50%;
    width: 50%;
}

/* @media all and (min-width: 0px) and (max-width: 768px) {
    
    .hamburger{
        height: 50%;
        width: 50%;
    }
    

} */

@media screen and (min-width: 550px){
    .hamburger{
        height: 35px;
        width: 35px;
        margin-top: 10px;
        margin-left: 10px;
    }
  
  
}