.theme-dark {
	margin-top: 0;
}

.theme-dark p {
	padding: 10px;
	text-align: center;
}

.theme-dark .page-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
}

.theme-dark .page-wrapper .page-header {
	background-color: purple;
}

.theme-dark .page-wrapper .page-header .header-container {
	width: 1132px;
	margin: 0 auto;
	border: 1px dashed gray;
}

.theme-dark .page-wrapper .page-header nav {
	background-color: yellow;
	position: absolute;
	width: 100%;
	left: 0;
}

.theme-dark .page-wrapper .page-header nav ul {
	margin: 0 auto;
	padding-left: 20px;
	max-width: 1132px;
}

.theme-dark .page-wrapper .page-header nav ul a {
	color: purple;
	text-decoration: none;
}

.theme-dark .page-wrapper .page-header nav > ul > li {
	display: inline-block;
	position: relative;
	padding: 10px;
	z-index: 100;
}

.theme-dark .page-wrapper .page-header nav > ul > li > ul {
	position: absolute;
	left: 0;
	top: 100%;
	padding: 0.5em 1000em;
	margin: 0 -1000em;
	z-index: 101;
	visibility: hidden;
	opacity: 0;
	background: red;
}

.theme-dark .page-wrapper .page-header nav > ul > li > ul > li {
	padding: 5px 0;
	list-style: none;
	margin: 0 12px;
	min-width: 250px;
}

.theme-dark .page-wrapper .page-header nav > ul > li > ul > li a {
	color: white;
	text-shadow: 1px 1px black;
}

.theme-dark .page-wrapper .page-header nav > ul > li:hover > ul {
	visibility: visible;
	opacity: 1;
	/* transition: all base-animation; */
}

.theme-dark .page-wrapper main section {
	width: 1132px;
	margin: 0 auto;
	border: 1px dashed gray;
	min-height: 300px;
}
