.cities-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  width: 100%;
  gap: 10px;
}
.cities{
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  transition: 1s ease-in-out;
}

.cities:hover{
  margin-top: -15px;
  
}
.modal-img{
  display: block;
  margin: auto;
  width:50%;
  height: 70%;
}
.modal-cont{
  margin-top: 20px;
}

.city-modal {
  width: 100%;
}
@media all and (min-width: 0px) and (max-width: 500px) { 
  .cities-cont {

    width: 100%;
    overflow: hidden;
    grid-template-columns: repeat(2,1fr);
  }
  .cities{
    /* width: 50%; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    font-size: small;
  
  }
  .modal-img{
    display: block;
    margin: auto;
    width:50%;
    height: 50%;
  }

}
