.product-page {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  /* border: 1px solid red; */
  text-align: start;
}
.product-page>div:nth-child(1){
  border: 1px solid rgb(0, 255, 21);
  height: 100%;
  width: 50%;
}
.product-page>div:nth-child(2){
  border: 1px solid red;
  width: 50%;
}
#cart-buttons{
  width: 100%;
  margin: auto;

}
#cart-buttons>button{
  border-radius: 8px;
  width: 50%;
  font-size: 20px;
  cursor: pointer;
  background-color: #c709e8;
  color: white;
  padding: 5px;
  display: block;
  border: none;
  padding: 10px 15px;
  margin: auto;
  margin-bottom: 20px;
}
#cart-buttons>button:hover{
  
  background: #6e0b80;
}
.image-container {
  width: 300px; /* Adjust according to your requirements */
  height: 300px; /* Adjust according to your requirements */
  overflow: hidden;
}

.zoom-effect {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

.zoom-effect:hover {
  transform: scale(1.2);
}

.main-image img {
  width: 100%;
  height: auto;
}

.related-images {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.related-images img {
  width: 30%;
  height: auto;
}
.product-specifications{
  width: 100%;
}
.product-details {
  /* flex-basis: 100%; */
  width: 100%;
  margin-left: 20px;
  border: 1px solid green;
  padding: 15px;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-price {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-description {
  color: #666;
  margin-bottom: 20px;
}

.product-specifications {
  margin-bottom: 20px;
}

.product-specifications td {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.product-highlights h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-highlights ul {
  padding-left: 20px;
}

@media all and (min-width: 768px) and (max-width: 1224px) {
  .product-page {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    padding: 5px;
  }
  .product-page>div:nth-child(1){
    border: 1px solid rgb(0, 255, 21);
    height: 100%;
    width: 100%;
    margin: auto;
    margin-top: 20px;
  }
  .product-page>div:nth-child(2){
    border: 1px solid red;
    width: 90%;
    margin: auto;
    margin-top: 20px;
  }
  .product-details {
    width: 90%;
    margin: auto;
  }
}
/* style={{marginBottom:"20px",minHeight:"100%",width:"23%",cursor:"pointer"}} */
@media all and (min-width: 0px) and (max-width: 768px) {
  .product-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }
  .product-page>div:nth-child(1){
    border: 1px solid rgb(0, 255, 21);
    height: 100%;
    margin: auto;
    width: 100%;
    margin-top: 20px;
  }
  .product-page>div:nth-child(2){
    border: 1px solid red;
    width: 90%;
    margin: auto;
    margin-top: 20px;
  }
  
  .product-details {
    width: 100%;
  }
  

}
